node_modules

# .*
.*
.gitignore
.vscode

# working on 
exercise
projects

# demo folders tests 
demo
demos
# frontend test folder
client
# backend tests folder 
server
 
# logs 
logs

# Enviormets
# python
env
# git
.env

# GitHub
public-apis
socket.io-examples
design-resources-for-developers
react-redux-universal-hot-example
react-starter-kit
Personal-Website
Protfolio-Website-Flutter-Web
# Find Yourself ; )
/**/*.pdf
private
personalAssistant