.vscode
node_modules
desktop.ini

# ignore all `.files`
.*
.git
.gitignore
**/.git

*.pdf
/**/*.pdf
*.pptx
*.ppsx
*.mp4

# assets
assets/**
!assets/docs/*

servers/**/
!servers/*.md

# working directories
auto/**/
exercise
projects
demo
demos
logs

# working app
# frontend tests 
client
# backend tests  
server

# Enviormets
env
.env
.env.local
.env.dev.local
.env.development.local
.env.test.local
.env.production.local
.env.prod.local

# GitHub examples
radash
ts-toolbelt
utility-types
public-apis
socket.io-examples
design-resources-for-developers
react-redux-universal-hot-example
react-starter-kit